.login{
    background-color: #dfdcdc;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.login_container{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 120px;
    padding-right: 120px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7); 
}
.login_container > img {
    object-fit: contain;
    height: 100px;
    margin-bottom: 40px;
}
.login_container > button {
    margin-top: 30px;
    text-transform: inherit !important;
    background-color: #0a8d48;
    color: white;
}
.g-3{
    margin-top: 15%;
    margin-bottom:5%;
}
.col-auto{
    margin-bottom: 7%;
}